.slickstreet__mobile{

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;

    width: 100%;

    margin-bottom: var(--spacing-l);

    z-index: 3;
}

.slickstreet__mobile div{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    border: 1px var(--color-grey-100) solid;

    overflow: hidden;
}

.slickstreet__mobile .street__label{
    font-family: "Sentient", serif;
    font-weight: var(--fontweight-subtitle);
}

.slickstreet__mobileLabel {

    font-family: "DMSans", "Arial", sans-serif;
    font-weight: 600;
    font-size: var(--fontsize-s);
    color: var(--color-text-grey-300);

    background-color: var(--color-white);

    padding: var(--spacing-m);

    cursor: pointer;

    transition: 0.5s;
}

.slickstreet__container {

    display: none;
    flex-direction: column;
    align-items: flex-start;

    gap: var(--spacing-xs);

}

.slickstreet__label {

    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    justify-content: flex-start;

    gap: var(--spacing-s);

    font-family: "DMSans", "Arial", sans-serif;
    font-weight: 600;
    font-size: var(--fontsize-s);
    color: var(--color-text-grey-300);

    cursor: pointer;
}

.slickstreet__img {

    width: 18px;
    height: 18px;

    background-image: url(../medias/imgs/starSquare.svg);
    background-size: cover;

}

.slick__input:checked ~ .mainnav__container:has(.slick__label) .slick__label {

    color: var(--color-green-300);

}

.slick__input:checked ~ .slickstreet__mobile:has(.slick__label) .slick__label {

    color: var(--color-white);
    background-color: var(--color-accent);

}

.slick__input:checked ~ .mainnav__container:has(.slick__label) .slick__label > .slickstreet__img {

    background-image: url(../medias/imgs/starSquare-green.svg);

}

.street__input:checked ~ .mainnav__container:has(.street__label) .street__label {

    color: var(--color-green-300);

}

.street__input:checked ~ .slickstreet__mobile:has(.street__label) .street__label {

    color: var(--color-white);
    background-color: var(--color-accent);

}

.street__input:checked ~ .mainnav__container:has(.street__label) .street__label > .slickstreet__img {

    background-image: url(../medias/imgs/starSquare-green.svg);

}



.street__input:checked ~ .section-light .slst__imageMask{
    -webkit-mask-image: url('../medias/imgs/slst__imageMask.svg');
    mask-image: url('../medias/imgs/slst__imageMask.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
}

@media all and (min-width: 768px) {

    .slickstreet__mobile{
        display: none;
    }

    .slickstreet__container {

        display: flex;
        flex-direction: row;
        gap: var(--spacing-m);
    
    }

    
    .slickstreet__label {

        gap: var(--spacing-s);
        font-size: var(--fontsize-m);
        flex-direction: row;

    }
    

}

@media all and (min-width: 1024px) {

    .slickstreet__container {

        gap: var(--spacing-m);
    
    }

    
    .slickstreet__label {

        gap: var(--spacing-xs);
        font-size: var(--fontsize-m);

    }
    
    .slickstreet__img {

        width: 24px;
        height: 24px;
    }

}