/* ===================================
=font size
=================================== */

:root {
    /* basic variables */
    --fontsize-xs: calc(12 / 16 * 1rem);
    --fontsize-s: calc(14 / 16 * 1rem);
    --fontsize-m: 1rem;
    --fontsize-ml: calc(24 / 16 * 1rem);
    --fontsize-l: calc(32 / 16 * 1rem);
    --fontsize-xl: calc(48 / 16 * 1rem);
    --fontsize-xxl: calc(96 / 16 * 1rem);

    --fontsize-jumbo: calc(128 / 16 * 1rem);

    --fontsize-footer: calc(224 / 16 * 1rem);

    /* mobile variables */
    --fontsize-core: var(--fontsize-xs);
    --fontsize-subtitle: var(--fontsize-s);
    --fontsize-title: var(--fontsize-l);
    --fontsize-title-footer: var(--fontsize-xl);
    --fontsize-buttons: var(--fontsize-core);

    --titlelineheight: 36px;

    /* tablet variables */    
    @media all and (min-width: 768px) {

        --fontsize-core: var(--fontsize-s);
        --fontsize-subtitle: var(--fontsize-m);
        --fontsize-title: var(--fontsize-xl);
        --fontsize-title-footer: var(--fontsize-xxl);
        --fontsize-buttons: var(--fontsize-core);
        --titlelineheight: 64px;
    }

    /* small desktop variables */    
    @media all and (min-width: 1024px) {

        --fontsize-core: var(--fontsize-s);
        --fontsize-subtitle: var(--fontsize-ml);
        --fontsize-title: var(--fontsize-xl);
        --fontsize-title-footer: var(--fontsize-jumbo);
        --fontsize-buttons: var(--fontsize-core);
    }   
    
    /* big desktop variables */    
    @media all and (min-width: 1440px) {

        --fontsize-core: var(--fontsize-m);
        --fontsize-subtitle: var(--fontsize-l);
        --fontsize-title: var(--fontsize-xxl);
        --fontsize-title-footer: var(--fontsize-footer);
        --fontsize-buttons: var(--fontsize-core);
        --titlelineheight: 110px;
    }   
    

}

/* ===================================
=font family
=================================== */

:root {

    /* mobile variables */
    --fontfamily-core: "Sentient";
    --fontfamily-coreDM: "DMSans";
    --fontfamily-subtitle: "DMSans";
    --fontfamily-title: "Panchang";
    --fontfamily-buttons: "DMSans";    

}

/* ===================================
=font weight
=================================== */

:root {

    /* mobile variables */
    --fontweight-core: 400;
    --fontweight-subtitle: 600;
    --fontweight-title: 800;
    --fontweight-buttons: 400;    

}

/* ===================================
=font color
=================================== */

:root {

    /* mobile variables */
    --fontcolor-core: var(--color-grey-300);
    --fontcolor-core-dark: var(--color-white);
    --fontcolor-subtitle: var(--color-grey-300);
    --fontcolor-title: var(--color-grey-100);
    --fontcolor-title-dark: var(--color-white);
    --fontcolor-buttons: var(--color-grey-100);    
    --fontcolor-buttons-dark: var(--color-white);    

}

/* ===================================
=classes
=================================== */

.title {

    font-size: var(--fontsize-title);
    font-family: var(--fontfamily-title);
    font-weight: var(--fontweight-title);
    color: var(--fontcolor-title);
    line-height: var(--titlelineheight);

    text-align: center;

}

.title-footer{
    font-size: var(--fontsize-title-footer);
    font-family: var(--fontfamily-title);
    font-weight: var(--fontweight-title);
    color: var(--fontcolor-title-dark);
    line-height: var(--titlelineheight);
}

.subtitle {

    font-size: var(--fontsize-subtitle);
    font-family: var(--fontfamily-subtitle);
    font-weight: var(--fontweight-subtitle);
    color: var(--fontcolor-subtitle);

}

.core {

    font-size: var(--fontsize-core);
    font-family: var(--fontfamily-core);
    font-weight: var(--fontweight-core);
    color: var(--fontcolor-core);

}

.coreDM {

    font-size: var(--fontsize-core);
    font-family: var(--fontfamily-coreDM);
    font-weight: var(--fontweight-core);
    color: var(--fontcolor-core-dark);

}

.buttons {

    font-size: var(--fontsize-buttons);
    font-family: var(--fontfamily-buttons);
    font-weight: var(--fontweight-buttons);
    color: var(--fontcolor-buttons);

}

.buttonsDark{
    font-size: var(--fontsize-buttons);
    font-family: var(--fontfamily-buttons);
    font-weight: var(--fontweight-buttons);
    color: var(--fontcolor-buttons-dark);
}