<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testing Stripe</title>
  <script type="module" src="/assets/js/main.bundle.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
  {% block htmlhead %}{% endblock %}
</head>


<body>

  <input style="display: none;" type="radio" id="slick" class="slick__input" name="slickstreet">
  <input style="display: none;" type="radio" id="street" class="street__input" name="slickstreet">

  
  {% include "partials/mainnav.njk" %}
  
  <div class="topSpace"></div>

  {% block content %}{% endblock %}

</body>
</html>