.mainnav__container {

    width: 100%;
    padding-block: var(--spacing-s);
    position: fixed;

    background-color: var(--color-background);

    border-bottom: 1px solid var(--color-grey-100);

    z-index: 10;

}

.mainnav__content {

    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    justify-content: space-between;

    grid-area: 1 / 2 / 2 / -2;


}

.mainnav__imgContainer {

    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    

}

.mainnav__img {

    width: var(--spacing-xxxl);

}

.slickstreet__container {

    display: none;

}

/* -------- Dynamic Menu --------- */


.menu__input {

    display: none;

}

.burger__container {

    z-index: 2;
    
}

.menu__label {
    
    cursor: pointer;

}

.menu__container {

    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 100%;
    top: 0%;

    z-index: 0;

    background-color: var(--color-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out;

}

.menu__input:checked + .menu__container {

    left: 0%;
    right: 0%;
    top: 0%;

}

.menu__list {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    align-items: center;
    justify-content: center;

}

.menu__item, .menu__item > a {
        
    font-family: "DMSans", "Arial", sans-serif;
    font-weight: 500;

    font-size: var(--fontsize-l);
    color: var(--color-text);

    text-decoration: none;

}

.menu__input:checked ~ .slickstreet__container {

    display: flex;
    z-index: 2;

}

.menu__active > a {

    color: var(--color-green-300);
    text-decoration: underline;

}


/* ===============
= Responsive 
=============== */

@media all and (min-width: 1024px) {

    .mainnav__container {
        padding-block: var(--spacing-m);
        padding-inline: var(--spacing-xxl);
        box-sizing: border-box;
    
    }

    .mainnav__content {

        flex-direction: row;

    }

    .burger__container {

        display: none;

    }

    .mainnav__imgContainer {

        position: relative;
        transform: translateX(0);
        left: 0;

    }

    .menu__container {

        width: auto;
        height: auto;
        position: relative;
        right: 0;
        left: 0;
        
    }

    .menu__list {

        display: flex;
        flex-direction: row;
        gap: var(--spacing-xl);

    }

    .menu__item, .menu__item > a {
        
        font-size: var(--fontsize-m);

    }
    

}
