.nojs__link{
    display: none;
}


.footer__container{
    padding-top: var(--spacing-m);
    grid-area: 3 / 2 / 4 / -2;
}

.title-footer{
    grid-area: 2 / 2 / -2 / -2;
    padding-top: var(--fontsize-m);
}

.footer__container p:last-child{
    padding-block: var(--spacing-m);
}

.footerText__container{
    display: flex;
    flex-direction: column;

    padding-top: var(--spacing-l); 

    gap: 24px;

}

.footerText__content p{
    font-size: var(--fontsize-m);
    padding-bottom: var(--spacing-s);
}

.footerText__content::after{
    content: "";
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-grey-400);
}

.footerLink__content{
    
    display: flex;
    flex-direction: column;
    
    gap: 6px;
    
    padding-bottom: 24px;
    
}

.footerLink__content a{
    
    font-size: var(--fontsize-s);
    color: var(--color-grey-400);
    
}

.footerCR{
    grid-area: 4 / 2 / 5 / -2;

    padding-block: var(--spacing-m);

    font-size: var(--fontsize-s);
    color: var(--color-grey-500);
}

@media all and (min-width: 768px){
    .title-footer{
        padding-top: var(--fontsize-l);
    }
    .footerText__container{
        padding-top: var(--spacing-xl);    
    }

}

@media all and (min-width: 1024px){
    .title-footer{
        padding-top: var(--fontsize-xl);
    }
    .footer__container{
        grid-area: 3 / 3 / 4 / 10;
        padding-block: var(--spacing-xxxl);    
    }
    .footerText__container{
        flex-direction: row;
        justify-content: space-between;
        padding-top: var(--spacing-xl);    
    }

    .footerText__content::after{
        display: none;
    }

    .footerText__content p{
        padding-bottom: var(--spacing-l);
    }

    .footerLink__content{
        gap: var(--spacing-m);
    }

    .footerCR{
        text-align: center;
    }

}

@media all and (min-width: 1440px){
    .title-footer{
        padding-top: var(--fontsize-xxl);
    }

    .footerText__container{
        padding-top: var(--spacing-xxxl);    
    }

    .footerText__content p{
        padding-bottom: var(--spacing-l);
    }

    .footerLink__content{
        gap: var(--spacing-l);
    }
}