.arerror__container{
    row-gap: var(--spacing-xxl);
}

.arerror__container h1{
    grid-area: 1 / 3 / 2 / -3;
}

.arerror__container p{
    grid-area: 2 / 3 / 3 / -3;
    
    text-align: center;
}

.ar__container{
    row-gap: var(--spacing-xxl);
}

.ar__container h1{
    grid-area: 1 / 2 / 2 / -2;
}

.ar__container p{
    grid-area: 2 / 2 / 3 / -2;
    
    text-align: center;
}

.ar__button{
    grid-area: 3 / 3 / 4 / -3;
    align-content: center;
}

.ar__button .button{
    justify-self: center;
    width: 100%;
    border-radius: 0px;
    padding: 0;
    padding-block: var(--spacing-s);
}

.UI__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 100%;

    position: relative;
    z-index: 4;
}

.UI__bottom{
    width: 100%;
}

.UI__posterScan{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;

    width: 100%;
    height: 10vh;

    border-radius: var(--spacing-s) var(--spacing-s) 0 0;

    font-size: var(--fontsize-m);
    font-weight: var(--fontweight-core);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

    color: #1c1c1c75;
    background-color: var(--color-white);

    transition: 0.5s;
}

.UI__clickHere{
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    
    justify-self: start;
    
    padding: var(--spacing-s);
    margin-bottom: var(--spacing-m);
    
    width: 25vw;
    height: 2.5vh;
    
    border-radius: var(--spacing-l);
    
    font-size: var(--fontsize-m);
    font-weight: var(--fontweight-subtitle);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
    color: var(--color-grey-100);
    background-color: var(--color-white);

    transition: 0.5s;
}

.UI__posterLaunch{
    display: none;

    padding: var(--spacing-m    );

    border-radius: var(--spacing-xxl);

    background-color: var(--color-red);

    font-size: var(--fontsize-m);
    font-weight: var(--fontweight-subtitle);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
    color: var(--color-white);

    cursor: pointer;
}

.UI__posterLaunch:hover{
    background-color: var(--color-red-400);
}

.mindar-ui-scanning{
    display: none !important;
}