@keyframes imageShuffle {
    0%, 15% { opacity: 0; }    /* Stay hidden at the start */
    20%, 25% { opacity: 1; }    /* Fade in smoothly (0 to 1) */
    50% { opacity: 1; }         /* Stay fully visible */
    55%, 100% { opacity: 0; }   /* Fade out smoothly (1 to 0) */
}

/* ==================
INTRO
================== */

.homepage__title {

    position: relative;

    text-align: center;
    grid-area: 1 / 2 / 2 / -2;

    display: block;

    margin-bottom: var(--spacing-xxxl);

}

.homepage__logo {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -40%);

}

.homepage__intro {

    grid-area: 3 / 2 / 4 / -2;

    margin-bottom: var(--spacing-xxxl);

}

.homepageIntroButton{
    display: flex;
    justify-content: center;

    grid-area: 5 / 6 / 6 / -6;
    margin-inline: auto;
}
/*
@media all and (min-width: 1024px){

    .homepage__title {

        grid-area: 1 / 4 / 2 / -4;

    }

    .homepage__logo {

        width: 96px;

    }

    .homepage__intro {

        grid-area: 3 / 5 / 4 / -5;

    }

    .homepageIntroButton{

        grid-area: 5 / 3 / 6 / -3;

    }

}

@media all and (min-width: 1440px){

    .homepage__title {

        grid-area: 1 / 4 / 2 / -4;

    }

    .homepage__logo {

        width: 144px;

    }

    .homepage__intro {

        grid-area: 3 / 5 / 4 / -5;

    }

    .homepageIntroButton{

        grid-area: 5 / 6 / 6 / -6;
    }

}
*/
/* ==================
COLLECTION
================== */

.homepageCollection__block{
    width: 100%;

    display: flex;
    justify-content: center;

    padding-block-start : var(--spacing-l)
}

.homeCollection__headerImg{
    background-image: url("../img/hp-bgi.jpg");
    background-position: 50% 55%;
    z-index: -1
}

.homeCollection__headerText{
    position: absolute;
    width: 100%;
    max-width: 1000px;
    background-repeat: no-repeat;
    background-size: 50%;
    
    background-position: 50% 40%;
}

.homepageCollection__container{
    gap: 18px;
}

.homepageCollectionText__content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    grid-area: 2 / 2 / -2 / -2;
}

.homepageCollectionText__content p{
    padding-left: 15vw;
}

.homepageCollectionImage__container{

    grid-area: 4 / 2 / 4 / 7;

    aspect-ratio: 4 / 5;

    position: relative;

    height: auto;
    width: 100%;
    overflow: hidden;

}

.hpCol1{
    background-image: url("../img/hp-col-1.jpg");
}

.hpCol2{
    background-image: url("../img/hp-col-2.jpg");
}

.hpCol3{
    background-image: url("../img/hp-col-3.jpg");
}

input[type="radio"] {
    display: none;
}

.homepageCollectionImage__content{
    background-size: cover;
    background-position: 50%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#hpCol1:checked ~ .hpCol1,
#hpCol2:checked ~ .hpCol2,
#hpCol3:checked ~ .hpCol3 {
  opacity: 1;
}

.hpColImg-labels {
    position: absolute;
    bottom: 10px; /* Place labels below images */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2; /* Ensure labels are on top */
}

.hpColImg-labels label {
    width: 12px;
    height: 12px;
    background: var(--color-grey-500);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}
  
  /* Highlight active label */
#hpCol1:checked ~ .hpColImg-labels label[for="hpCol1"],
#hpCol2:checked ~ .hpColImg-labels label[for="hpCol2"],
#hpCol3:checked ~ .hpColImg-labels label[for="hpCol3"] {
    background: var(--color-white);
}

.homeAbout__headerImg{
    background-image: url("../medias/imgs/ap_intro_lq.webp");
    background-position: 50% 15%;
}

.homepageAbout__container{
    grid-row-gap: 36px;
}

.homepageAboutText__content{
    display: flex;
    flex-direction: column;

    gap: 36px;
    grid-area: 1 / 2 / 2 / -2;
}


.homepageAboutButton{
    display: flex;
    justify-content: center;
}

.homepageAboutImage__container{
    grid-area: 2 / 2 / 3 / -2;

    aspect-ratio: 4 / 5;

    position: relative;
    width: 100%;
    overflow: hidden;

    border-radius: var(--spacing-s);
}

.homepageAboutImage__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.homepageAboutImage__content::after{
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(#fffdf800 0%, rgba(28,28,28,0.5) 100%);
    width: 100%;
    height: 100px;
}

.homepageAboutImage__content div {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-text);
    text-align: left;
    padding: 15px 20px;
    z-index: 2;
}

.homepageAboutImage__content h2 {
    font-size: var(--fontsize-ml);
    font-weight: 600;
    padding-bottom: 3px;
}


.hpAbo1 { animation: imageShuffle 20s infinite; } /* 1st image (starts at 0s) */
/* Image 2 */
.hpAbo2 { animation: imageShuffle 20s infinite 5s; } /* 2nd image (delayed 5s) */
/* Image 3 */
.hpAbo3 { animation: imageShuffle 20s infinite 10s; } /* 3rd image (delayed 10s) */
/* Image 4 */
.hpAbo4 { animation: imageShuffle 20s infinite 15s; } /* 4th image (delayed 15s) */

@media all and (min-width: 768px){
    
    .homepage__title {

        grid-area: 1 / 3 / 2 / -3;

    }

    .homepage__logo {

        width: 72px;

    }

    .homepage__intro {

        grid-area: 3 / 4 / 4 / -4;
    }

    .homepageIntroButton{
        grid-area: 5 / 4 / 6 / -4;
    }
    
    .homepageIntroText__content{
        grid-area: 3 / 3 / -3 / -3;
    }

    .homeCollection__headerText{
        background-size: 50%;
        background-position: 50% 35%;
    }

    .homeCollection__headerImg{
        background-image: url("../img/hp-bgi.jpg");
    }

    .homepageCollection__container{
        margin-top: calc(-1 * var(--spacing-xxl));
    }

    .homepageCollectionText__content{
        padding-top: var(--spacing-xxl);
        grid-area: 2 / 2 / 2 / 5;
        position: sticky;
        top: 0;
    }

    .homepageCollectionText__content p{
        padding: 0;
    }

    .homepageCollectionImage__container{
        padding-top: var(--spacing-xxl);
        display: flex;
        gap: 24px;
        grid-area: 6 / 6 / 2 / 9;
        flex-direction: column; /* Normal column layout */
        height: auto; /* Allow images to take normal height */
        overflow: visible;
    }

    .hpCol1{
    background-image: url("../img/hp-col-1.jpg");
    }

    .hpCol2{
        background-image: url("../img/hp-col-2.jpg");
    }

    .hpCol3{
        background-image: url("../img/hp-col-3.jpg");
    }

    .homepageCollectionImage__content{
        position: relative;
        opacity: 1;
    }

    .image-slide {
        position: static;
        opacity: 1;
    }

        /* Hide labels */
    .hpColImg-labels {
        display: none;
    }

    .homeAbout__headerImg{
        background-image: url("../medias/imgs/ap_intro_mq.webp");
    }

    .homepageAbout__container{
        grid-row-gap: 0px;
    }

    .homepageAboutButton{
        justify-content: left;
    }

    .homepageAboutText__content{
        grid-area: 2 / 5 / 2 / 9;
        padding-left: 10%;
    }

    .homepageAboutText__content h1{
        text-align: left;
    }

    .homepageAboutText__content .button{
        justify-self: left;
        padding: 9px 18px;
    }

    .homepageAboutImage__container{
        grid-area: 2 / 2 / 2 / 5;
    }

}

@media all and (min-width: 1024px){
    
    .homepage__title {

        grid-area: 1 / 4 / 2 / -4;

    }

    .homepage__logo {

        width: 96px;

    }

    .homepage__intro {

        grid-area: 3 / 5 / 4 / -5;

    }

    .homepageIntroButton{

        grid-area: 5 / 3 / 6 / -3;

    }
    
    .homepageIntroText__content{
        grid-area: 1 / 2 / 1 / 7;
    }
    .homepageIntroText__content h1{
        text-align: left;
    }
    .homepageIntroImage__content{
        display: flex;
        flex-direction: row;
        align-self: center;
    
        gap: 36px;
        
        grid-area: 1 / 8 / 1 / 11;
    }
    
    .homepageIntroButton{
        justify-content: left;
    }

    .homeCollection__headerImg{
        background-image: url("../img/hp-bgi.jpg");
    }

    .homepageCollection__container{
        margin-top: calc(-1 * var(--spacing-xxxl));
    }

    .homepageCollectionText__content{
        padding-top: var(--spacing-xxxl);
        grid-area: 2 / 2 / 2 / 6;
    }
    
    .homepageCollectionImage__container{
        padding-top: var(--spacing-xxxl);
        grid-area: 6 / 7 / 2 / 11;
    }

    .hpCol1{
    background-image: url("../img/hp-col-1.jpg");
    }

    .hpCol2{
        background-image: url("../img/hp-col-2.jpg");
    }

    .hpCol3{
        background-image: url("../img/hp-col-3.jpg");
    }

    .homeAbout__headerImg{
        background-image: url("../medias/imgs/ap_intro_hq.webp");
    }

    .homepageAboutText__content{
        grid-area: 2 / 6 / 2 / 11;
        padding-left: 10%;
    }

    .homepageAboutImage__container{
        grid-area: 2 / 2 / 2 / 6;
        max-height: 550px;
    }
}

@media all and (min-width: 1440px){

    .homepage__title {

        grid-area: 1 / 4 / 2 / -4;

    }

    .homepage__logo {

        width: 144px;

    }

    .homepage__intro {

        grid-area: 3 / 5 / 4 / -5;

    }

    .homepageIntroButton{

        grid-area: 5 / 6 / 6 / -6;
    }

    .homeCollection__headerImg{
        background-position: 50% 50%;
    }

    .homepageCollectionText__content{
        grid-area: 3 / 3 / 2 / 6;
    }

    .homepageCollectionImage__container{
        grid-area: 6 / 7 / 2 / 10;
    }

    .homepageAboutText__content{
        grid-area: 2 / 7 / 3 / 10;
        padding-left: 0;
    }

    .homepageAboutImage__container{
        grid-area: 2 / 3 / 2 / 6;
        max-height: 700px;
    }
}
