.aboutIntro__container{
    row-gap: var(--spacing-xl);
}

.aboutIntro__container .core{
    text-align: center;
}

.aboutIntro__container .core:first-of-type{
    grid-area: 2 / 2 / 3 / -2;
}

.aboutIntro__container .core:last-of-type{
    grid-area: 4 / 2 / 5 / -2;
}

.ap__titleImage{
    grid-area: 1 / 3 / 2 / -3;
    width: 100%;
}

.ap__introImage{
    grid-area: 3 / 2 / 4 / -2;
    width: 100%;
}

.aboutLocation__container{
    row-gap: var(--spacing-xl);
    padding-bottom: var(--spacing-l);
}

.aboutLocation__title{
    display: flex;
    justify-content: center;

    width: 100%;
}

.aboutLocation__titleContent{

    padding: var(--spacing-s);
    background-color: var(--color-accent);

    max-width: fit-content;

    transform: translateY(calc(-1 * (var(--spacing-s)*2) + (var(--spacing-s)/4)));
}

.aboutLocation__globe{
    grid-area: 2 / 3 / 3 / -3 ;

    aspect-ratio: 1 / 1;

    background-image: url("../medias/imgs/aboutLocation__globe.png");
    background-size: cover;

    align-self: center;
}

.aboutLocation__container .core{
    grid-area: 3 / 2 / 4 / -2;
    color: var(--color-grey-500);
    align-self: center;
}

.aboutLocation__card{
    display: flex;
    flex-direction: column;
    
    gap: var(--spacing-s);
}

.aboutLocation__card p{
    text-align: center;
    color: var(--color-grey-500);
}

.aboutLocation__eye{
    grid-area: 4 / 2 / 6 / 4 ;
}

.aboutLocation__eye div{
    
    background-image: url("../medias/imgs/aboutLocation__eye.png");
    background-size: cover;
    
    aspect-ratio: 3.6 / 2.8;

}

.aboutLocation__book{
    grid-area: 5 / 5 / 7 / 7 ;
}

.aboutLocation__book div{

    aspect-ratio: 4.6 / 3.5;

    background-image: url("../medias/imgs/aboutLocation__book.png");
    background-size: cover;
}

.aboutLocation__diamond{
    grid-area: 6 / 2 / 7 / 4 ;
}

.aboutLocation__diamond div{

    aspect-ratio: 4.1 / 2.6;

    background-image: url("../medias/imgs/aboutLocation__diamond.png");
    background-size: cover;
}

.aboutLocation__play{
    display: flex;
    justify-content: center;

    width: 100%;
}

.aboutLocation__playContent{
    display: flex;
    justify-content: center;

    padding: var(--spacing-s);
    background-color: var(--color-accent);

    width: 10%;

    transform: translateY(calc(var(--spacing-m) * 1.75));

    z-index: 1;
}

.aboutLocation__play polygon{
    fill: var(--color-white);
}

.aboutLocation__playContent svg{
    width: 100%;
    height: auto;

    display: block;
}

.aboutValues__content{

    display: flex;
    flex-direction: column;

    gap: var(--spacing-xl);

    grid-area: 1 / 2 / 2 / -2;
}

.aboutValues__card{
    display: flex;
    flex-direction: column;

    gap: calc(var(--spacing-s)/2);

    text-align: center;
}

.aboutMeet__container h1{
    text-align: center;
    grid-area: 1 / 2 / 2 / -2;
}

.aboutMeet__container p:first-of-type{
    padding-top: var(--spacing-xxl);
    grid-area: 2 / 2 / 3 / -2;
}

.aboutMeet__container p:last-of-type{
    padding-top: var(--spacing-m);
    grid-area: 3 / 3 / 4 / -2;
}

.aboutMates__container{
    padding-block: var(--spacing-l);
}

.aboutMates__carrousel{
    padding: var(--spacing-l);
    
    display: flex;
    column-gap: var(--spacing-l);

    overflow-x: scroll;
}

.aboutMates__card{
    display: flex;
    flex-direction: column;

    gap: var(--spacing-s);
    
    min-width: 80%;
}

.aboutMates__card h2{
    font-size: var(--fontsize-ml);
}

.aboutMates__image{
    aspect-ratio: 3 / 4;

    background-size: cover;

    border-radius: var(--spacing-s);
}

.aboutMates__socials{
    display: flex;
    gap: var(--spacing-s);
}

.aboutMates__link{
    padding: var(--spacing-xs);

    border: 1px solid var(--color-grey-500);
    border-radius: var(--spacing-l);
}

.aboutContact__container h1{
    grid-area: 2 / 2 / 2 / -2;
}

.aboutContact__container .core:first-of-type{
    grid-area: 3 / 2 / 3 / -2;
    padding-top: var(--fontsize-xl);

    text-align: center;
}

.aboutContactForm__container{
    grid-area: 4 / 2 / 5 / -2;
    padding-top: var(--spacing-xl);
}

.aboutContactForm__container .coreDM{
    color: var(--color-grey-200);
    padding-bottom: var(--spacing-s);
}

.aboutContactForm__container input[type=text]{
    width: 100%;
    padding: var(--spacing-m);

    background-color: var(--color-white);

    display: inline-block;

    border: 1px solid var(--color-grey-200);
    box-sizing: border-box;

    font-family: "DMSans";
}

.aboutContactForm__container form{
    display: flex;
    flex-direction: column;

    gap: var(--spacing-s);
}

input[type=submit] {
    width: 100%;
    background-color: var(--color-grey-100);
    color: var(--color-white);
    padding: var(--spacing-s);

    cursor: pointer;

    transition: 0.4s;
}
  
input[type=submit]:hover {
    background-color: var(--color-white);
    color: var(--color-grey-100);
}

.aboutContactForm__names{
    display: flex;
    gap: var(--spacing-s);
}

.aboutContactForm__message textarea{
    height: 200px;
    width: 100%;

    background-color: var(--color-white);

    box-sizing: border-box;
}

.aboutContactForm__message textarea#message{
    padding: var(--spacing-s);

    font-size: var(--fontsize-s);
    font-family: "DMSans";
}

@media all and (min-width: 768px){
    
    .aboutIntro__container{
        row-gap: var(--spacing-xxl);
    }
    
    .aboutIntro__container .core:first-of-type{
        grid-area: 2 / 3 / 3 / -3;
    }

    .aboutIntro__container .core:last-of-type{
        grid-area: 4 / 3 / 5 / -3;
    }

    .ap__titleImage{
        grid-area: 1 / 4 / 2 / -4;
    }
    
    .ap__introImage{
        grid-area: 3 / 3 / 4 / -3;
    
    }
    
    .aboutLocation__globe{
        grid-area: 2 / 4 / 3 / -4 ;
    
    }
    
    .aboutLocation__container .core{
        grid-area: 3 / 3 / 4 / -3; 
    }
    
    .aboutLocation__card p{
        text-align: center;
    }
    
    .aboutLocation__eye{
        grid-area: 4 / 3 / 5 / 4 ;
    }
    
    .aboutLocation__book{
        grid-area: 4 / 5 / 5 / 6 ;
    }
    
    .aboutLocation__diamond{
        grid-area: 4 / 7 / 5 / 8 ;
    }
    
    .aboutLocation__playContent{
        width: 5%;
        transform: translateY(calc(var(--spacing-m) * 1.8));
    }

    .aboutValues__content{

        display: flex;
        flex-direction: row;
    
        gap: var(--spacing-xl);

        padding-block: var(--spacing-m);

    }

    .aboutValues__card{
        width: 33%;
    }

    .aboutMeet__container h1{
        text-align: left;
    }

    .aboutMeet__container p:last-of-type{
        grid-area: 3 / 2 / 4 / -2;
    }

    .aboutMates__carrousel{
        padding: var(--spacing-xl);
        
        column-gap: var(--spacing-xl);
    }

    .aboutMates__card h2{
        font-size: var(--fontsize-l);
    }

    .aboutMates__card{

        gap: var(--spacing-m);
        
        min-width: 60%;
    }

    .aboutContact__container .core:first-of-type{
        grid-area: 3 / 3 / 3 / -3;
    }

}

@media all and (min-width: 1024px){
    .aboutIntro__container{
        row-gap: var(--spacing-xxxl);
    }

    .aboutIntro__container .core{
        line-height: var(--spacing-l);
    }
    
    .aboutIntro__container .core:first-of-type{
        grid-area: 2 / 3 / 3 / -3;
    }
    
    .aboutIntro__container .core:last-of-type{
        grid-area: 4 / 3 / 5 / -3;
    }

    .ap__titleImage{
        grid-area: 1 / 5 / 2 / -5;
    }
    
    .ap__introImage{
        grid-area: 3 / 3 / 4 / -3;
    
    }
    
    .aboutLocation__globe{
        grid-area: 2 / 2 / 3 / 5 ;
    }
    
    .aboutLocation__container .core{
        grid-area: 2 / 5 / 3 / -2 ;
    }

    .aboutLocation__card p{
        text-align: center;
    }
    
    .aboutLocation__eye{
        grid-area: 3 / 5 / 4 / 7 ;
    }
    
    .aboutLocation__book{
        grid-area: 3 / 7 / 4 / 9 ;
    }
    
    .aboutLocation__diamond{
        grid-area: 3 / 9 / 4 / 11 ;
    }
    
    .aboutLocation__playContent{
        transform: translateY(calc(var(--spacing-m) * 2.1));
    }

    .aboutValues__content{

        padding-block: var(--spacing-l);

    }
    
    .aboutMates__carrousel{
        overflow-x: hidden;
    }
    
    .aboutMates__card{
        min-width: auto;
    }

    .aboutContact__container .core:first-of-type{
        grid-area: 3 / 4 / 3 / -4;
    }

    .aboutContactForm__container{
        grid-area: 4 / 3 / 5 / -3;
    }

}

@media all and (min-width: 1440px){
    .aboutIntro__container{
        row-gap: var(--spacing-xxxl);
    }

    .aboutIntro__container .core{
        text-align: left;
    }
    
    .aboutIntro__container .core:first-of-type{
        grid-area: 2 / 3 / 3 / 6;
    }
    
    .aboutIntro__container .core:last-of-type{
        grid-area: 3 / 3 / 4 / -3;
    }

    .ap__titleImage{
        grid-area: 1 / 5 / 2 / -5;
    }
    
    .ap__introImage{
        grid-area: 2 / 7 / 3 / -1;
    
    }

    .aboutLocation__globe{
        grid-area: 2 / 2 / 5 / 5 ;
    }
    
    .aboutLocation__container .core{
        grid-area: 2 / 5 / 5 / 7 ;
    }

    .aboutLocation__card p{
        text-align: center;
    }
    
    .aboutLocation__eye{
        grid-area: 2 / 9 / 3 / 10 ;
    }
    
    .aboutLocation__book{
        grid-area: 3 / 8 / 3 / 9 ;
    }
    
    .aboutLocation__diamond{
        grid-area: 3 / 10 / 4 / 11 ;
    }
    
    .aboutLocation__playContent{
        width: 3%;
        transform: translateY(calc(var(--spacing-m) * 2));
    }

    .aboutValues__content{

        padding-block: var(--spacing-xl);

    }

    .aboutMeet__container{
        row-gap: var(--spacing-xxl);
    }

    .aboutMeet__container p:first-of-type{
        padding-top: 0;
        grid-area: 2 / 3 / 3 / 6;
    }
    
    .aboutMeet__container p:last-of-type{
        padding-top: 0;
        grid-area: 2 / 6 / 3 / -4;
    }

    .aboutMates__card{

        gap: var(--spacing-l);

    }

    .aboutMates__card h2{
        font-size: var(--fontsize-xl);
    }

    .aboutContact__container .core:first-of-type{
        grid-area: 3 / 5 / 3 / -5;
    }

    .aboutContactForm__container{
        grid-area: 4 / 4 / 5 / -4;
    }

}