/*===============================
= Collection Header
===============================*/

.collectionHeader__container{

    background-image: url("../medias/imgs/collectionIntro__img__mq.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;

    width: 100%;

    aspect-ratio: 4 / 7;
}

.collectionHeader__title{
    grid-area: 1 / 3 / 1 / -3;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    max-width: 150px;
    justify-self: center;

    margin-top: calc(var(--spacing-l) + var(--spacing-xxl));


    aspect-ratio: 4 / 3;
}

/*===============================
= Collection Intro
===============================*/

.collectionIntro__container{
    row-gap: var(--spacing-s);
}

.collectionIntro__container h2{
    grid-area: 1 / 2 / 1 / -2;
}

.collectionIntro__container p:first-of-type{
    grid-area: 2 / 2 / 2 / -2;
}

.collectionIntro__container p:last-of-type{
    grid-area: 3 / 2 / 4 / 5;
}

.collectionIntro__container div{
    grid-area: 3 / 5 / 4 / -1;
    background-image: url("../medias/imgs/collectionIntro__fish__lq.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25%;

    position: sticky;
    top: 0;

    height: 100%;
    max-height: 200px;
}

/*===============================
= Collection Gallery
===============================*/

.collectionGallery__container{
    width: 100%;

    display: flex;
    flex-direction: column;

    padding-top: var(--spacing-xxl);
}

.colGal__img{
    max-height: 200px;
}

.colGal__po-la{
    display: flex;
}

.colGal__po-la .colGal__img{
    display: flex;
}

.colGal__po-la img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.colGal__po-la .colGal__img:first-of-type{
    width: calc(100% / 3);
}

.colGal__po-la .colGal__img:last-of-type{
    width: calc(100% * 2 / 3);
}

.colGal__four{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.colGal__four .colGal__img {
    width: 50%;
}

.colGal__four img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.galRev .colGal__img:first-of-type{
    width: calc(100% * 2 / 3);
}

.galRev .colGal__img:last-of-type{
    width: calc(100% / 3);
}

/*===============================
= Collection Shop
===============================*/

.collectionShop__container{
    margin-block: var(--spacing-xxl);

    row-gap: var(--spacing-s);
}

.collectionShop__container h2{
    grid-area: 1 / 2 / 1 / -2;
}

.collectionShop__content{
    grid-area: 2 / 2 / 2 / -2;

    display: flex;
    flex-direction: column;

    gap: var(--spacing-l);

    margin-bottom: var(--spacing-xxl);
}

.collectionShop__content img{
    width: 100%;

    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.collectionShop__button{
    grid-area: 3 / 3 / 3 / -3;

    display: flex;
    justify-content: center;
}

/*===============================
= MEDIA QUERIES
===============================*/

@media all and (min-width:768px){
    .collectionHeader__container{
        background-image: url("../medias/imgs/collectionIntro__img__mq.webp");

        aspect-ratio: 7 / 6;
    }
    
    .collectionHeader__title{
        grid-area: 1 / 4 / 1 / -4;
    }

    .collectionIntro__container h2{
        grid-area: 1 / 2 / 1 / 6;
    }
    
    .collectionIntro__container p:first-of-type{
        grid-area: 2 / 2 / 2 / 6;
    }
    
    .collectionIntro__container p:last-of-type{
        grid-area: 3 / 2 / 4 / 6;
    }
    
    .collectionIntro__container div{
        grid-area: 1 / 7 / 4 / -1;
        max-height: 300px;
        background-position: -15%;
    }

    .collectionGallery__container{
        padding-top: var(--spacing-xxxl);
    }

    .colGal__img{
        max-height: 300px;
    }

    .collectionShop__content{
        grid-area: 2 / 2 / 2 / -2;
    
        display: flex;
        flex-direction: row;
    }

}

@media all and (min-width:1024px){
    .collectionHeader__container{
        background-image: url("../medias/imgs/collectionIntro__img__hq.webp");

        aspect-ratio: 5 / 4;
    }
    
    .collectionHeader__title{
        grid-area: 1 / 5 / 1 / -5;
    
        margin-top: var(--spacing-xxxl);
    
        max-width: 200px;
    }

    .collectionIntro__container h2{
        grid-area: 1 / 3 / 1 / 7;
    }
    
    .collectionIntro__container p:first-of-type{
        grid-area: 2 / 3 / 2 / 7;
    }
    
    .collectionIntro__container p:last-of-type{
        grid-area: 3 / 3 / 4 / 7;
    }
    
    .collectionIntro__container div{
        grid-area: 1 / 8 / 4 / -1;
    }

    .colGal__four .colGal__img {
        width: 25%;
    }

    .colGal__img{
        max-height: 400px;
    }

    .collectionShop__container h2{
        grid-area: 1 / 3 / 1 / -3;
    }

    .collectionShop__content{
        grid-area: 2 / 3 / 2 / -3;
    }
    .collectionShop__button{
        grid-area: 3 / 5 / 3 / -5;
    }
}

@media all and (min-width:1440px){
    .collectionHeader__container{
        aspect-ratio: 16 / 9;
    }
    
    .collectionHeader__title{
        grid-area: 1 / 5 / 1 / -5;
    
        margin-top: var(--spacing-xxxl);
    
        max-width: 300px;
    }

    .collectionIntro__container h2{
        grid-area: 1 / 4 / 1 / 7;
    }
    
    .collectionIntro__container p:first-of-type{
        grid-area: 2 / 4 / 2 / 7;
    }
    
    .collectionIntro__container p:last-of-type{
        grid-area: 3 / 4 / 4 / 7;
    }
    
    .collectionIntro__container div{
        grid-area: 1 / 10 / 4 / -1;

        max-height: none;

        background-position: 0%;
    }

    .colGal__img{
        max-height: 600px;
    }

    .collectionShop__container h2{
        grid-area: 1 / 4 / 1 / -4;
    }

    .collectionShop__content{
        grid-area: 2 / 4 / 2 / -4;
    }
    .collectionShop__button{
        grid-area: 3 / 6 / 3 / -6;
    }
}