---
permalink: about.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">

    <div class="aboutIntro__container grid-layout">
        <img src="../assets/medias/imgs/ap_title.png" alt="Mate Belgium" class="ap__titleImage">
        <p class="core">
            Mate Belgium est une marque de vêtements belge qui a vu le jour en juin 2023. Elle est née d'une envie commune entre 4 amis : travailler ensemble sur un projet artistique.
            Le milieu de la mode s'est assez vite imposé comme une évidence. Il combine notre passion pour la création de contenu publicitaire, d'identité graphique, de designs, de stylisme... En bref, la création d'un univers artisitque autour de chaque collection
            <br><br>
            Nous avons aussi comme passion, comme force dominante, cette envie de mettre dans la lumière ce qui est trop souvent laissé dans l'ombre            
        </p>
        <img
            src="../assets/medias/imgs/ap_intro_lq.png"
            srcset="
                ../assets/medias/imgs/ap_intro_lq.png 2028w,
                ../assets/medias/imgs/ap_intro_mq.png 3042w"
            sizes="(min-width: 1024px) 3042px, (min-width: 768px) 2028px, 100vw"
            alt="The Mates"
            class="ap__introImage">
        <p class="core">
            Mate, ne se propose pas juste de vendre des vêtements, mais de faire briller des endroits au travers de sa vision.
            <br>
            Chaque collection s'articule autour d'un lieu et de la thématique principale qui est extraite de ce dernier. Ces endroits mises en valeur par la marque sont chargés d'histoire, ont une esthétique marquantes surtout ont été oublié par le temps ou n'ont jamais été mis dans la lumières.
            <br><br>
            Mate fait sortir ce qui il y a de plus beau et de plus intéressant dans ces endroits abandonnés, oubliés ou simplement cachés.
        </p>
    </div>

</div>

<div class="section-dark">

    <div class="aboutLocation__title">
        <div class="aboutLocation__titleContent">
            <p class="subtitle">Choix du lieu</p>
        </div>
    </div>

    <div class="aboutLocation__container grid-layout">

        <div class="aboutLocation__globe"></div>

        <p class="core">
            Le lieu est la colonne vertébrale de chaque collection. Cette endroit autour duquel va s'articuler les vêtements, la communication visuelle, l'histoire... tout l'univers graphique doit respecter trois critères importants :<br>
            <br>
            1. Etre visuellement fort et esthétiquement marquant<br>
            2. Avoir un passé chargé d'histoire<br>
            3. Etre peu exploité et loin des radars des grandes marques<br>
            <br>
            Quand un lieu respecte tout ses critères, il est la quasi garantie d'une grande collection
        </p>

        <div class="aboutLocation__card aboutLocation__eye">
            <p class="subtitle">Visuellement <br> captivant</p>
            <div></div>
        </div>

        <div class="aboutLocation__card aboutLocation__book">
            <p class="subtitle">Chargé <br> d'histoire</p>
            <div></div>
        </div>

        <div class="aboutLocation__card aboutLocation__diamond">
            <p class="subtitle">Peu <br> exploité</p>
            <div></div>
        </div>
        
    </div>

    <div class="aboutLocation__play">
        <a href="https://www.instagram.com/p/DKm3DyFquvX/" class="aboutLocation__playContent">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <polygon points="30,20 80,50 30,80"/>
            </svg>
        </a>
    </div>

</div>

<div class="section-light">

    <div class="aboutValues__container grid-layout">

        <div class="aboutValues__content">

            <div class="aboutValues__card">
                <p class="subtitle">Liberté</p>
                <p class="core">Avoir une totale liberté artistique</p>
            </div>

            <div class="aboutValues__card">
                <p class="subtitle">Ethique</p>
                <p class="core">Respecter nos valeurs dans la production de vêtements et dans les messages transmis</p>
            </div>

            <div class="aboutValues__card">
                <p class="subtitle">Qualité</p>
                <p class="core">Produire des vêtements et du contenu de qualité </p>
            </div>

        </div>

    </div>

</div>

<div class="banner">
    <div class="bannerImage homepage__headerImg " style="background-image: url(../assets/img/hp-bgi.jpg);"></div>
</div>

<div class="section-light">
        <div class="grid-layout aboutMeet__container">

            <h1 class="title">Meet the <br> teammates</h1>

            <p class="core">The only variation permeating these places seems to be the rain, alternating with the mist. Yet, despite this apparent lack of natural warmth, there's a sense of belonging here. You feel at ease, warmed by human connection, by the simple joy of living, and by the shared experience of just being. No matter where we come from, it feels like home.</p>

            <p class="core">The only variation permeating these places seems to be the rain, alternating with the mist. Yet, despite this apparent lack of natural warmth, there's a sense of belonging here. You feel at ease, warmed by human connection, by the simple joy of living, and by the shared experience of just being. No matter where we come from, it feels like home.
            <br><br>
            Driven by the desire to feel that spark of human warmth once again, four friends set out into the dense forests of the Belgian Ardennes. What began as a search for an adventure out of the ordinary led to the discovery that these misty, echoing woods hold far more secrets than they let on...
            </p>

        </div>
</div>

<div class="section-dark">

    <div class="aboutMates__container">

        <div class="aboutMates__carrousel">

            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-1.jpg);"></div>
                <h2 class="title-dark">Théo</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-2.jpg);"></div>
                <h2 class="title-dark">Elann</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-4.jpg);"></div>
                <h2 class="title-dark">Martin</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-3.jpg);"></div>
                <h2 class="title-dark">Arno</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="section-light">

    <div class="grid-layout aboutContact__container">

        <h1 class="title">Contact Us</h1>

        <p class="core">If you happen to have a question you would like to ask, do not hesitate to call, send us a direct message through the form below OR just send an e-mail to the address indicated below.
        Our phone-lines are available during working hours.
        <br><br>    
        We'd love to hear what you have to say about our brand.</p>

        <div class="aboutContactForm__container">
            <p class="coreDM">CONTACT FORM</p>

            <form action="../assets/php/contact.php" method="POST">
                <div class="aboutContactForm__names">
                    <div>
                        <label for="fname"></label>
                        <input type="text" id="fname" name="firstname" placeholder="First name" required>
                    </div>

                    <div>
                        <label for="lname"></label>
                        <input type="text" id="lname" name="lastname" placeholder="Last name" required>
                    </div>
                </div>
                
                <div>
                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="Email" required>
                </div>
                
                <div class="aboutContactForm__message">
                    <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Message (max 500 char.)" maxlength="500"></textarea>
                </div>
              
                <div><input type="submit" value="Submit"></div>
              </form>
        </div>

    </div>

</div>


{% endblock %}