---
permalink: about.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">

    <div class="aboutIntro__container grid-layout">
        <img src="../assets/medias/imgs/ap_title.png" alt="Mate Belgium" class="ap__titleImage">
        <p class="core">
            Mate Belgium est une marque de vêtements belge qui a vu le jour en juin 2023. Elle est née d'une envie commune entre 4 amis : travailler ensemble sur un projet artistique. Le milieu de la mode s'est assez vite imposé comme une évidence. Il combine notre passion pour la création de contenu publicitaire, d'identité graphique, de designs, de stylisme... En bref, la création d'un univers artistique autour de chaque collection.
            <br><br>
            Nous avons aussi comme passion, comme force dominante, cette envie de mettre dans la lumière ce qui est trop souvent laissé dans l'ombre.
        </p>
        <img
            src="../assets/medias/imgs/ap_intro_lq.webp"
            srcset="
                ../assets/medias/imgs/ap_intro_lq.webp 2028w,
                ../assets/medias/imgs/ap_intro_mq.webp 3042w"
            sizes="(min-width: 1024px) 3042px, (min-width: 768px) 2028px, 100vw"
            alt="The Mates"
            class="ap__introImage e-slickstreet">
        <p class="core">
            Mate, ne se propose pas juste de vendre des vêtements, mais de faire briller des endroits au travers de sa vision.
            <br>
            Chaque collection s'articule autour d'un lieu et de la thématique principale qui est extraite de ce dernier. Ces endroits mis en valeur par la marque sont chargés d'histoire, ont une esthétique marquante, surtout ont été oubliés par le temps ou n'ont jamais été mis dans la lumière.
            <br><br>
            Mate fait sortir ce qu'il y a de plus beau et de plus intéressant dans ces endroits abandonnés, oubliés ou simplement cachés.
        </p>
    </div>

</div>

<div class="section-dark section-dark__schematic">

    <div class="aboutLocation__title">
        <div class="aboutLocation__titleContent">
            <p class="">Choix du lieu</p>
        </div>
    </div>

    <div class="aboutLocation__container grid-layout">

        <div class="aboutLocation__globe"></div>

        <p class="aboutLocation__core core">
            Le lieu est la colonne vertébrale de chaque collection. Cet endroit autour duquel va s'articuler les vêtements, la communication visuelle, l'histoire... tout l'univers graphique doit respecter trois critères importants :<br>
            <br>
            1. Être visuellement fort et esthétiquement marquant<br>
            2. Avoir un passé chargé d'histoire<br>
            3. Être peu exploité et loin des radars des grandes marques<br>
            <br>
            Quand un lieu respecte tous ces critères, il est la quasi garantie d'une grande collection
        </p>

        <div class="aboutLocation__card aboutLocation__eye">
            <p class="">Visuellement <br> captivant</p>
            <div></div>
        </div>

        <div class="aboutLocation__card aboutLocation__book">
            <p class="">Chargé <br> d'histoire</p>
            <div></div>
        </div>

        <div class="aboutLocation__card aboutLocation__diamond">
            <p class="">Peu <br> exploité</p>
            <div></div>
        </div>
        
    </div>

    <div class="aboutLocation__play">
        <a href="https://www.instagram.com/p/DKm3DyFquvX/" class="aboutLocation__playContent">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <polygon points="30,20 80,50 30,80"/>
            </svg>
        </a>
    </div>

</div>

<div class="section-light">

    <div class="aboutValues__container grid-layout">

        <div class="aboutValues__content">

            <div class="aboutValues__card">
                <p class="subtitle">Liberté</p>
                <p class="core">Avoir une totale liberté artistique</p>
            </div>

            <div class="aboutValues__card">
                <p class="subtitle">Ethique</p>
                <p class="core">Respecter nos valeurs dans la production de vêtements et dans les messages transmis</p>
            </div>

            <div class="aboutValues__card">
                <p class="subtitle">Qualité</p>
                <p class="core">Produire des vêtements et du contenu de qualité </p>
            </div>

        </div>

    </div>

</div>

<div class="banner">
    <div class="bannerImage aboutMates__banner"></div>
</div>

<div class="section-light">
        <div class="grid-layout aboutMeet__container">

            <h1 class="title">Meet the <br> team</h1>

            <p class="core">Nous sommes quatre jeunes créatifs de 23 ans, passionnés par la création artistique sous toutes ses formes : vidéo, animation, programmation, dessin… Pour nous, créer et inventer ne se limite pas à une simple motivation, c’est un but qui nous anime au quotidien.</p>

            <p class="core">Nous nous sommes rencontrés pendant nos études, où notre complicité artistique s’est révélée comme une évidence. Très vite, travailler ensemble est devenu naturel, presque essentiel. C’est dans cette synergie que nous avons imaginé notre marque de vêtements, un projet de fin d’études que nous avons voulu faire grandir bien au-delà de l’école.
            <br><br>
            Ce que nous aimons par-dessus tout, c’est concevoir des univers complets, mêlant textile, visuel et narration. Notre démarche va au-delà du vêtement : chaque collection est pensée comme une œuvre multimédia, où l’image, le son et le code dialoguent pour donner vie à une vision artistique globale, portée par notre passion commune.
            </p>

        </div>
</div>

<div class="section-dark">

    <div class="aboutMates__container">

        <div class="aboutMates__carrousel">

            <div class="aboutMates__card">
                <div class="aboutMates__image aboutMate__theo"></div>
                <h2 class="title-dark">Théo</h2>
                <p class="core-dark">Théo Etienne, 23 ans</p>
                <div class="aboutMates__socials">
                    <a href="https://www.instagram.com/theo_etwe/">
                        <div class="aboutMates__link">
                            <p class="coreDM">Instagram</p>
                        </div>
                    </a>

                    <!--
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                    -->
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image aboutMate__elann"></div>
                <h2 class="title-dark">Elann</h2>
                <p class="core-dark">Elann Fraiture, 23 ans</p>
                <div class="aboutMates__socials">
                    <a href="https://www.instagram.com/elannfr_/">
                        <div class="aboutMates__link">
                            <p class="coreDM">Instagram</p>
                        </div>
                    </a>
                    <!--
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                    -->
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image aboutMate__martin"></div>
                <h2 class="title-dark">Martin</h2>
                <p class="core-dark">Martin Charlier, 23 ans</p>
                <div class="aboutMates__socials">
                    <a href="https://www.instagram.com/martin.charlier/">
                        <div class="aboutMates__link">
                            <p class="coreDM">Instagram</p>
                        </div>
                    </a>
                    <!--
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                    -->
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image aboutMate__arno"></div>
                <h2 class="title-dark">Arno</h2>
                <p class="core-dark">Arno Joachim, 23 ans</p>
                <div class="aboutMates__socials">

                    <a href="https://www.instagram.com/ajay.35mm/">
                        <div class="aboutMates__link">
                            <p class="coreDM">Instagram</p>
                        </div>
                    </a>
                    <!--
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                    -->
                </div>
            </div>

        </div>

    </div>

</div>

<div class="section-light">

    <div class="grid-layout aboutContact__container">

        <h1 class="title">Contact Us</h1>

        <p class="core">Si vous avez une question à poser, n’hésitez pas à nous contacter via les réseaux sociaux ou par mail. 
        <br>Toutes les informations de contact se trouvent au bas de la page.
        <br><br>
        Nous serions ravis d’avoir votre avis sur notre marque.
    
        </p>

        <!--

        <div class="aboutContactForm__container">
            <p class="coreDM">CONTACT FORM</p>

            <form>
                <div class="aboutContactForm__names">
                    <div>
                        <label for="fname"></label>
                        <input type="text" id="fname" name="firstname" placeholder="First name" required>
                    </div>

                    <div>
                        <label for="lname"></label>
                        <input type="text" id="lname" name="lastname" placeholder="Last name" required>
                    </div>
                </div>
                
                <div>
                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="Email" required>
                </div>
                
                <div class="aboutContactForm__message">
                    <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Message (max 500 char.)" maxlength="500"></textarea>
                </div>
              
                <div><input type="submit" value="Submit"></div>
              </form>
        </div>

        -->

    </div>

</div>


{% endblock %}