---
permalink: about.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="banner">
    <p class="aboutPage__headerText title-dark">about us</p>
    <div class="aboutPage__headerImage bannerImage" style="background-image: url(../assets/medias/imgs/_DSC3420.jpg);"></div>
</div>

<div class="section-light">

    <div class="aboutIntro__container grid-layout">
        <p class="core">More than just a clothing brand, we create immersive experiences. Whether you're drawn to high-quality garments, cinematic short films, compelling storytelling, or our fashion magazine, each collection opens the door to a universe of creativity.
            <br><br>
        From physical to digital, fleeting moments to timeless pieces, and interactive designs to lasting works of art, we blur the lines between fashion, storytelling, and artistic expression. Every detail is thoughtfully crafted to make your journey with us truly unforgettable.
        </p>
        <p class="core">The rain and mist are the only constants in these landscapes, shifting in an endless cycle. At first, the Ardennes seem untouched by warmth—yet, beneath the quiet, there's a sense of belonging. You feel it in the people, in the simple joys of life, in the unspoken connection of shared moments. No matter where you're from, this place feels like home.
            <br><br>
        Chasing that feeling, four friends ventured into the dense forests of the Belgian Ardennes. What started as a search for adventure became something more, a discovery that these mist-covered woods hold far more secrets than they reveal...
        </p>
    </div>

</div>

<div class="section-dark">

    <div class="grid-layout aboutHow__container">
        <h1 class="title-dark">How does <br> it work</h1>

        <div class="aboutHow__article">
            <p class="subtitle-dark">Location</p>
            <p class="core">Your order will be shipped by November 8, 2024.
                <br>Customs & Brexit info can be found here
                <br>Please visit our help center if you have any questions
            </p>
        </div>
        <div class="aboutHow__article">
            <p class="subtitle-dark">Location</p>
            <p class="core">Your order will be shipped by November 8, 2024.
                <br>Customs & Brexit info can be found here
                <br>Please visit our help center if you have any questions
            </p>
        </div>
        <div class="aboutHow__article">
            <p class="subtitle-dark">Location</p>
            <p class="core">Your order will be shipped by November 8, 2024.
                <br>Customs & Brexit info can be found here
                <br>Please visit our help center if you have any questions
            </p>
        </div>
        <div class="aboutHow__article">
            <p class="subtitle-dark">Location</p>
            <p class="core">Your order will be shipped by November 8, 2024.
                <br>Customs & Brexit info can be found here
                <br>Please visit our help center if you have any questions
            </p>
        </div>
        <div class="aboutHow__article">
            <p class="subtitle-dark">Location</p>
            <p class="core">Your order will be shipped by November 8, 2024.
                <br>Customs & Brexit info can be found here
                <br>Please visit our help center if you have any questions
            </p>
        </div>

    </div>

</div>

<div class="banner">
    <div class="bannerImage homepage__headerImg " style="background-image: url(../assets/img/hp-bgi.jpg);"></div>
</div>

<div class="section-light">
        <div class="grid-layout aboutMeet__container">

            <h1 class="title">Meet the <br> teammates</h1>

            <p class="core">The only variation permeating these places seems to be the rain, alternating with the mist. Yet, despite this apparent lack of natural warmth, there's a sense of belonging here. You feel at ease, warmed by human connection, by the simple joy of living, and by the shared experience of just being. No matter where we come from, it feels like home.</p>

            <p class="core">The only variation permeating these places seems to be the rain, alternating with the mist. Yet, despite this apparent lack of natural warmth, there's a sense of belonging here. You feel at ease, warmed by human connection, by the simple joy of living, and by the shared experience of just being. No matter where we come from, it feels like home.
            <br><br>
            Driven by the desire to feel that spark of human warmth once again, four friends set out into the dense forests of the Belgian Ardennes. What began as a search for an adventure out of the ordinary led to the discovery that these misty, echoing woods hold far more secrets than they let on...
            </p>

        </div>
</div>

<div class="section-dark">

    <div class="aboutMates__container">

        <div class="aboutMates__carrousel">

            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-1.jpg);"></div>
                <h2 class="title-dark">Théo E-W.</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-2.jpg);"></div>
                <h2 class="title-dark">Elann F.</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-4.jpg);"></div>
                <h2 class="title-dark">Martin C.</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>
            <div class="aboutMates__card">
                <div class="aboutMates__image" style="background-image: url(../assets/medias/imgs/aboutMates-3.jpg);"></div>
                <h2 class="title-dark">Arno J.</h2>
                <p class="core-dark">Revealing the beauty of things through our creations, using as many mediums as necessary to bring our ideas to life, daring to cross the boundaries of... That's as simple as it sounds, and yet, so much more.</p>
                <div class="aboutMates__socials">
                    <div class="aboutMates__link">
                        <p class="coreDM">Instagram</p>
                    </div>
                    <div class="aboutMates__link">
                        <p class="coreDM">LinkedIn</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="section-light">

    <div class="grid-layout aboutContact__container">

        <h1 class="title">Contact Us</h1>

        <p class="core">If you happen to have a question you would like to ask, do not hesitate to call, send us a direct message through the form below OR just send an e-mail to the address indicated below.
        Our phone-lines are available during working hours.
        <br><br>    
        We'd love to hear what you have to say about our brand.</p>

        <div class="aboutContactForm__container">
            <p class="coreDM">CONTACT FORM</p>

            <form>
                <div class="aboutContactForm__names">
                    <div>
                        <label for="fname"></label>
                        <input type="text" id="fname" name="firstname" placeholder="First name">
                    </div>

                    <div>
                        <label for="lname"></label>
                        <input type="text" id="lname" name="lastname" placeholder="Last name">
                    </div>
                </div>
                
                <div>
                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
                
                <div class="aboutContactForm__message">
                    <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Message (max 500 char.)" maxlength="500"></textarea>
                </div>
              
                <div><input type="submit" value="Submit"></div>
              </form>
        </div>

    </div>

</div>


{% endblock %}