---
permalink: ar-experience.html
hideTopSpace: true
---

{% extends "layouts/base.njk" %}

{% block content %}

    <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-image-aframe.prod.js"></script>

    <div class="UI__container">

            <div class="UI__posterLaunch">
                <p>Play</p>
            </div>

        <div class="UI__posterScan">
            <p>Détection en cours...</p>
            <div class="UI__clickHere">
                <p>Clique ici pour être redirigé</p>
            </div>
        </div>

    </div>

    
    <a-scene mindar-image="imageTargetSrc: assets/medias/ar/affiches01_02_03.mind;" color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
        <a-assets>
            <video id="video1" src="assets/medias/ar/affiche01S.webm"
            lead-to="collection" 
            loop  
            playsinline 
            crossorigin="anonymous"></video>

            <video id="video2" src="assets/medias/ar/affiche02S.webm"
            lead-to="shop" 
            loop  
            playsinline 
            crossorigin="anonymous"></video>

            <video id="video3" src="assets/medias/ar/affiche03S.webm"
            lead-to="event" 
            loop  
            playsinline 
            crossorigin="anonymous"></video>
        </a-assets>
  
        <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>
        
        <a-entity id="detector" mindar-image-target="targetIndex: 0; filterMinCF: 0.0001; filterBeta: 0.9; missTolerance: 10;">
            <a-video src="#video2" height="1.6" width="1.2"position="0 0 0" style="z-index: 2;"></a-video> 
        </a-entity>

        <a-entity id="detector" mindar-image-target="targetIndex: 1; filterMinCF: 0.0001; filterBeta: 0.9; missTolerance: 10; ">
            <a-video src="#video1" height="1.6" width="1.2"position="0 0 0" style="z-index: 2;"></a-video> 
        </a-entity>

        <a-entity id="detector" mindar-image-target="targetIndex: 2; filterMinCF: 0.0001; filterBeta: 0.9; missTolerance: 10; ">
            <a-video src="#video3" height="1.6" width="1.2"position="0 0 0" style="z-index: 2;"></a-video> 
        </a-entity>
    </a-scene>

{% endblock %}