---
permalink: ar.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">
    <div class="grid-layout ar__container">

        <h1 class="title">Prolonge<br>l'expérience</h1>

        <p class="core">
            Créer une expérience à 360°, c'est élargir notre vision artistique, au-delà de la mode et du cinéma, vers le monde numérique. Nous ne faisons pas que dessiner des vêtements ou réaliser des courts-métrages, nous imaginons des récits immersifs qui vivent sur plusieurs plateformes.
            <br><br>
            Tu aperçois une de nos affiches dans la rue ? Scanne-la. Tu pourrais bien débloquer une nouvelle couche de l'expérience.
            <br><br>
            Prêt·e à entrer dans notre monde en réalité augmentée ? Clique sur le bouton ci-dessous et plonge dedans.
        </p>

        <a href="/ar-experience" class="ar__button">
            <div class="button">
                <p class="buttonsDark">Go!</p>
            </div>
        </a>

    </div>
</div>

{% endblock %}