---
permalink: ar.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">
    <div class="grid-layout ar__container">

        <h1 class="title">Extend the<br>experience</h1>

        <p class="core">
            Creating a 360° experience means expanding our artistic vision, beyond fashion and film, into the digital realm. We don't just design clothes or direct short films, we craft immersive stories that live across platforms.
            <br><br>
            Spot one of our posters in the streets? Scan it. You might just unlock a new layer of the experience.
            <br><br>
            Ready to step into our augmented reality world?
            Click the button below and dive in.
        </p>

        <a href="/ar-experience" class="ar__button">
            <div class="button">
                <p class="buttonsDark">Go!</p>
            </div>
        </a>

    </div>
</div>

{% endblock %}