---
permalink: arerror.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">
    <div class="grid-layout arerror__container">

        <h1 class="title">HEY!</h1>

        <p class="core">MATE! What are you doing here?
        <br>
        This page doesn't allow your device...
        <br><br>
        Try it on your phone!</p>

    </div>
</div>

{% endblock %}