---
permalink: arerror.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">
    <div class="grid-layout arerror__container">

        <h1 class="title">ESSAYE SUR TON TÉLÉPHONE</h1>

        <p class="core">MATE ! Qu'est-ce que tu fais ici ?!
        <br>
        Ton appareil actuel n'est pas compatible. Essaie sur ton mobile pour découvrir la magie.
        <br><br>
        Franchement, ça en vaut la peine !</p>

    </div>
</div>

{% endblock %}