---
permalink: collection.html
hideTopSpace: true
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="collectionHeader__container grid-layout noTop">

    <div class="collectionHeader__title" style="background-image: url(../assets/medias/imgs/etretat__logo.svg);"></div>

</div>

<div class="section-light">

    <div class="collectionIntro__container grid-layout">
        <h2 class="subtitle">Etretat, les falaises, c'est vraiment cool.</h2>
        <p class="core">Nullam scelerisque semper velit, finibus porttitor justo facilisis non. Ut auctor, sem nec tincidunt malesuada, est magna vulputate nisl, egestas bibendum nibh enim non leo. Vivamus eleifend nulla at urna mattis suscipit. Mauris nisl massa, ullamcorper quis suscipit sed, feugiat vel velit. Aenean viverra</p>
        <p class="core">Nullam scelerisque semper velit, finibus porttitor justo facilisis non. Ut auctor, sem nec tincidunt malesuada, est magna vulputate nisl, egestas bibendum nibh enim non leo. Vivamus eleifend nulla at urna mattis suscipit. Mauris nisl massa, ullamcorper quis suscipit sed, feugiat vel velit. Aenean viverra.
        <br><br>
        Ut auctor, sem nec tincidunt malesuada, est magna vulputate nisl, egestas bibendum nibh enim non leo. Vivamus eleifend nulla at urna mattis suscipit. Mauris nisl</p>
        <div class="collectionIntro__fish"></div>
    </div>

    <div class="collectionGallery__container">
        <div class="colGal__po-la">
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh1__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh1__mq.webp 682w,
                    ../assets/medias/imgs/colGal__tsh1__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colGal__tsh1">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas1__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas1__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas1__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas1">
            </div>
        </div>
        <div class="colGal__four">
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh2__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh2__mq.webp 682w,
                    ../assets/medias/imgs/colGal__tsh2__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colGal__tsh2">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas2__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas2__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas2__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas2">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh3__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh3__mq.webp 682w,
                    ../assets/medias/imgs/colGal__tsh3__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colGal__tsh3">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas3__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas3__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas3__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas3">
            </div>
        </div>
        <div class="colGal__po-la galRev">
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh4__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh4__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__tsh4__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__tsh4">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas4__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas4__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas4__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas4">
            </div>
        </div>
    </div>

    <div class="collectionShop__container grid-layout">

        <h2 class="subtitle">Nos vêtements</h2>

        <div class="collectionShop__content">

            <a href="/shop" class="collectionShop__link">
                <div class="collectionShop__item">
                    <img
                    src="../assets/medias/imgs/colShop__tsh__lq.webp"
                    srcset="
                        ../assets/medias/imgs/colShop__tsh__mq.webp 682w,
                        ../assets/medias/imgs/colShop__tsh__hq.webp 1365w"
                    sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                    alt="colShop__tsh">
                </div>
                <h3 class="subtitle">T-Shirt "Poisson"</h3>
                <p class="core">€ 55.67</p>
            </a>

            <a href="/shop" class="collectionShop__link">
                <img
                src="../assets/medias/imgs/colShop__cas__lq.webp"
                srcset="
                    ../assets/medias/imgs/colShop__cas__mq.webp 682w,
                    ../assets/medias/imgs/colShop__cas__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colShop__cas">
                <h3 class="subtitle">Casquette MB</h3>
                <p class="core">€ 39.99</p>
            </a>

        </div>

        <a href="/shop" class="collectionShop__button">
            <div class="button">
                <p class="buttonsDark">boutique</p>
            </div>
        </a>

    </div>

</div>

<div class="section-dark">
    <h2 class="subtitle">On travèrse une tempête! <br> Le restant arrive</h1>
</div>

{% endblock %}