---
permalink: collection.html
hideTopSpace: true
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="collectionHeader__container grid-layout noTop">

    <div class="collectionHeader__title" style="background-image: url(../assets/medias/imgs/etretat__logo.svg);"></div>

</div>

<div class="section-light">

    <div class="collectionIntro__container grid-layout">
        <h2 class="subtitle">Sur les traces d'Étretat, entre pêche et peinture</h2>
        <p class="core">Étretat, nichée sur la côte normande, est une ville au charme unique, sculptée par la mer et les falaises. Autrefois village de pêcheurs, ses habitants vivaient au rythme des marées et de la mer nourricière.</p>
        <p class="core">Au XIXe siècle, sa beauté sauvage a conquis les plus grands peintres, comme Monet ou Courbet, venus capturer ses lumières changeantes. Les célèbres arches et l'Aiguille creuse sont devenues des symboles immortalisés sur toile. Étretat est ainsi devenue une muse pour les artistes, un lieu où nature et inspiration se rencontrent. Aujourd'hui encore, elle fascine par son histoire et sa majesté.
        <br><br>
        À travers notre collection de vêtements, nous racontons Étretat autrement. Nous présentons son passé et son âme au fil de notre vision créative.</p>
        <div class="collectionIntro__fish"></div>
    </div>

    <div class="collectionGallery__container">
        <div class="colGal__po-la">
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh1__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh1__mq.webp 682w,
                    ../assets/medias/imgs/colGal__tsh1__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colGal__tsh1">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas1__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas1__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas1__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas1">
            </div>
        </div>
        <div class="colGal__four">
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh2__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh2__mq.webp 682w,
                    ../assets/medias/imgs/colGal__tsh2__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colGal__tsh2">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas2__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas2__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas2__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas2">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh3__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh3__mq.webp 682w,
                    ../assets/medias/imgs/colGal__tsh3__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colGal__tsh3">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas3__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas3__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas3__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas3">
            </div>
        </div>
        <div class="colGal__po-la galRev">
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__tsh4__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__tsh4__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__tsh4__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__tsh4">
            </div>
            <div class="colGal__img">
                <img
                src="../assets/medias/imgs/colGal__cas4__lq.webp"
                srcset="
                    ../assets/medias/imgs/colGal__cas4__mq.webp 1024w,
                    ../assets/medias/imgs/colGal__cas4__hq.webp 2048w"
                sizes="(min-width: 1024px) 2048px, (min-width: 768px) 1024px, 100vw"
                alt="colGal__cas4">
            </div>
        </div>
    </div>

    <div class="collectionShop__container grid-layout">

        <h2 class="subtitle">Nos vêtements</h2>

        <div class="collectionShop__content">

            <a href="/shop" class="collectionShop__link">
                <div class="collectionShop__item">
                    <img
                    src="../assets/medias/imgs/colShop__tsh__lq.webp"
                    srcset="
                        ../assets/medias/imgs/colShop__tsh__mq.webp 682w,
                        ../assets/medias/imgs/colShop__tsh__hq.webp 1365w"
                    sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                    alt="colShop__tsh">
                </div>
                <h3 class="subtitle">T-Shirt "Poisson"</h3>
                <p class="core">€ 55.67</p>
            </a>

            <a href="/shop" class="collectionShop__link">
                <img
                src="../assets/medias/imgs/colShop__cas__lq.webp"
                srcset="
                    ../assets/medias/imgs/colShop__cas__mq.webp 682w,
                    ../assets/medias/imgs/colShop__cas__hq.webp 1365w"
                sizes="(min-width: 1024px) 1365px, (min-width: 768px) 682px, 100vw"
                alt="colShop__cas">
                <h3 class="subtitle">Casquette MB</h3>
                <p class="core">€ 39.99</p>
            </a>

        </div>

        <a href="/shop" class="collectionShop__button">
            <div class="button">
                <p class="buttonsDark">boutique</p>
            </div>
        </a>

    </div>

</div>

{% endblock %}