---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">

    <div class="homePageIntro--container grid-layout">
        <div class="homepageIntroText--content">
            <h1 class="title">Explore our <br> universe</h1>
            <p class="core">More than just a clothing brand, we create immersive experiences. Whether you're drawn to high-quality garments, cinematic short films, compelling storytelling, or our fashion magazine, each collection opens the door to a universe of creativity.
                <br> <br>
                From physical to digital, fleeting moments to timeless pieces, and interactive designs to lasting works of art, we blur the lines between fashion, storytelling, and artistic expression. Every detail is thoughtfully crafted to make your journey with us truly unforgettable.
            </p>
            <a href="" class="homepageIntroButton disabledB">
                <div class="button">
                    <p class="buttonsDark">discover more</p>
                </div>
            </a>
        </div>
        
        <div class="homepageIntroImage--content">
            <div class="birdImg1"></div>
            <div class="birdImg2"></div>
        </div>

    </div>

</div>

<div class="section-dark">

  <div class="homepageCollection--header">
    <p class="coreDM">↓ Latest Collection ↓</p>
  </div>
  <div class="homepage--header">
    <div class="homepage--headerText" style="background-image: url(../assets/img/ardennesLogo.png);"></div>
    <div class="homepage--headerImg" style="background-image: url(../assets/img/hp-bgi.jpg);"></div>
  </div>

</div>

<div class="section-light moving-element-entry">
    <div class="homepageCollection--container grid-layout">
        <div class="homepageCollectionText--content">
            <h2 class="subtitle">Endless forests, a landscape seemingly knowing only two seasons, and a cold wind as its sole breath.</h2>
            <p class="core">The rain and mist are the only constants in these landscapes, shifting in an endless cycle. At first, the Ardennes seem untouched by warmth—yet, beneath the quiet, there's a sense of belonging. You feel it in the people, in the simple joys of life, in the unspoken connection of shared moments. No matter where you're from, this place feels like home.
            <br><br>
            Chasing that feeling, four friends ventured into the dense forests of the Belgian Ardennes. What started as a search for adventure became something more, a discovery that these mist-covered woods hold far more secrets than they reveal...
            </p>
        </div>

        <div class="homepageCollectionImage--container">

            <input type="radio" id="hpCol1" name="hpColImg-selector" checked>
            <input type="radio" id="hpCol2" name="hpColImg-selector">
            <input type="radio" id="hpCol3" name="hpColImg-selector">

            <div class="homepageCollectionImage--content hpCol1" style="background-image: url(../assets/img/hp-col-1.jpg);"></div>
            <div class="homepageCollectionImage--content hpCol2" style="background-image: url(../assets/img/hp-col-2.jpg);"></div>
            <div class="homepageCollectionImage--content hpCol3" style="background-image: url(../assets/img/hp-col-3.jpg);"></div>

            <div class="hpColImg-labels">
                <label for="hpCol1"></label>
                <label for="hpCol2"></label>
                <label for="hpCol3"></label>
            </div>

        </div>
    </div>
</div>

<div class="section-dark">

    <div class="homepageCollection--header">
      <a href="/collection">
        <p class="coreDM">>> Click Here <<</p>
      </a>
    </div>
    <div class="homepage--headerImg" style="background-image: url(../assets/img/hp-abobgi3.png); background-position: 50% 15%;"></div>
  
</div>

<div class="section-light moving-element-entry">
    <div class="homepageAbout--container grid-layout">

        <div class="homepageAboutText--content">
            <h1 class="title">Meet mate</h1>
            <p class="core">We're a group of friends combining our skills in graphic design, web development, and filmmaking with a shared passion for clothing to create something unique: a clothing brand that goes beyond fashion.
                <br><br>
                Each of us brings our own strengths, allowing this project to take shape in countless ways, blending creativity, storytelling, and design into every collection.</p>
            <a href="" class="homepageAboutButton disabledB">
                <div class="button invertButton">
                    <p class="buttons">learn more</p>
                </div>
            </a>
        </div>

        <div class="homepageAboutImage--container">
            <div class="homepageAboutImage--content hpAbo1" style="background-image: url(../assets/img/hp-abo-1.jpg); background-position: 50% 30%;">
              <div>
                <h2 class="coreDM">Théo Etienne-Weerts</h2>

              </div>
            </div>
          
            <div class="homepageAboutImage--content hpAbo2" style="background-image: url(../assets/img/hp-abo-2.jpg); background-position: 50% 30%;">
              <div>
                <h2 class="coreDM">Elann Fraiture</h2>

              </div>
            </div>
          
            <div class="homepageAboutImage--content hpAbo3" style="background-image: url(../assets/img/hp-abo-3.jpg); background-position: 50% 25%;">
              <div>
                <h2 class="coreDM">Arno Joachim</h2>

              </div>
            </div>
          
            <div class="homepageAboutImage--content hpAbo4" style="background-image: url(../assets/img/hp-abo-4.jpg); background-position: 50% 10%;">
              <div>
                <h2 class="coreDM">Martin Charlier</h2>

              </div>
            </div>
          </div>

    </div>

</div>

{% endblock %}