---
permalink: shop.html
---

{% extends "layouts/base.njk" %}

{% from "macros/shopItemCard.njk" import shopItemCard %}

{% block content %}

    {% for item in products %}
      {% if loop.first %}<ul class="shop__list">{% endif %}
        <li class="shop__item">
          {{ shopItemCard({
            image: item.image, 
            name: item.name, 
            priceDisplay: item.priceDisplay, 
            priceId: item.priceId, 
            id: item.id, 
            collection: item.collection,
            sizes: item.sizes
          }) }}
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

  </div>

{% endblock %}