---
permalink: success/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div
    x-data="shop"
    x-effect="syncCart"
    x-init="success"
    style="display: none;">
  </div>

  <div class="section-light">
    <h1 class="title" style="padding-block: 20vh;">Thank you for your purchase</h1>
  </div>


{% endblock %}
