<div class="section-dark grid-layout">

    
    <h1 class="title-footer">Footer</h1>

    <div class="footer__container">
        <div class="footerText__container">
            <div class="footerText__content">
                <p class="coreDM">Site</p>
                <div class="footerLink__content">
                    <a href="" class="coreDM footerLink">Home</a>
                    <a href="" class="coreDM footerLink">Collection</a>
                    <a href="" class="coreDM footerLink">About</a>
                </div>
            </div>
            <div class="footerText__content">
                <p class="coreDM">Socials</p>
                <div class="footerLink__content">
                    <a href="https://www.instagram.com/matebelgium/" class="coreDM footerLink">Instagram</a>
                    <a href="" class="coreDM footerLink">LinkedIn</a>
                    <a href="" class="coreDM footerLink">Twitter</a>
                </div>
            </div>
            <div class="footerText__content">
                <p class="coreDM">Admin.</p>
                <div class="footerLink__content">
                    <a href="" class="coreDM footerLink">Terms & Services</a>
                    <a href="" class="coreDM footerLink">Privacy Policy</a>
                    <a href="" class="coreDM footerLink">Shopping Policy</a>
                    <a href="" class="coreDM footerLink">Return & Refund Policy</a>
                </div>
            </div>
            <div class="footerText__content">
                <p class="coreDM">Contact</p>
                <div class="footerLink__content">
                    <a href="mailto:matebelgium.contact@gmail.com" class="coreDM footerLink">Email</a>
                    <a href="tel:+32477995880" class="coreDM footerLink">+32 477 99 58 80</a>
                </div>
            </div>

        </div>
    </div>

    <p class="coreDM footerCR">© 2024 Mate, Inc. All rights reserved</p>
    
</div>