---
pagination:
  data: products
  size: 1
  alias: product
permalink: "/products/{{ product.name | slug }}/index.html"
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section-light">

  <div
    x-data="shop" 
    x-effect="syncCart"
    class="grid-layout">

    <!--Show Cart-->
    <button
      class="cart__Button"
      x-cloak 
      @click="openCart()">
      <img src="../../assets/medias/imgs/basket.svg" alt="">
      <span x-text="totalProducts" class="cart__number"></span>
    </button>

    <h1 class="title product__title">{{ product.name }}</h1>

    <div 
      class="product__img" 
      style="background-image: url('{{ product.image }}');"
      >
      <a class="backToShop" href="/shop.html"> <<< retour au shop</a>
    </div>

    <div 
      class="product__subimg" 
      style="background-image: url('{{ product.image }}');"
      >
    </div>

    <div class="about textblock">
      <h2 class="about__subtitle">A propos</h2>
      <p class="core about__text">Vêtement issu de la collection Été-Automne Etretat de MateBelgium, fabriqué au Portugal en 100 % coton biologique. Une pièce de qualité, confortable et respectueuse de l’environnement.</p>
    </div>

    <div class="product__buy">
      <h2 class="subtitle">Acheter</h2> <br> <br>
      {% for item in product.sizes %}
        {% if loop.first %}<ul class="buy__sizes">{% endif %}
          <li class="buy__item">
            <button 
                x-cloak
                @click="addToCart($el.dataset)" 
                data-priceid="{{ item.priceId }}"
                data-name="{{ item.name }}"
                data-quantity="1"
                data-id= {{item.id}}
                data-price= {{item.priceAmount}}
                class="buy__size"
                {% if item.quantityLeft <= 0 %}disabled{% endif %}
                >
                {{item.size}}
            </button>
            {% if item.quantityLeft <= 0 %}
              <p class="product__price" style="color: red;">out of stock</p>
              {% else %}
              <p class="product__price">{{item.priceDisplay}}</p>
            {% endif %}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>

    <div class="info textblock">
      <h2 class="info__subtitle">Infos Produit</h2>
      <p class="core info__text">
        Composition: 100% cotton biologique <br>
        Made in Portugal <br>
        Qualité suppérieur</p>
    </div>

    <div class="wash textblock">Info de lavage</h2>
      <p class="core wash__text">Lavage en machine à froid (30°C) avec des couleurs similaires.</p>
    </div>

    <div class="shipping textblock">
      <h2 class="shipping__subtitle">Shipping info</h2>
      <p class="core shipping__text">Votre commande sera expédiée dans les deux semaines suivant l’achat.</p>
    </div>

    <!--CART-->
    <dialog data-cart class="cart__dialog">
      <div class="cart__container">

        <button @click="closeCart" class="closeCart__button"></button>

        <div class="cartItems__container">

          <!--names-->
          <ul class="cartItems__list cartItems__names">
            <li class="cartItem cartItem__name"><h2 class="cartItem__title">Product</h2></li>
            <template
              x-for="(item, index) in products"
              :key="item.id">
              <li class="cartItem cartItem__name">
                <h3 x-text="item.name"></h3>
              </li>
            </template>
          </ul>
          <!--quantity-->
          <ul class="cartItems__list cartItems__quantity">
            <li class="cartItem cartItem__quantity"><h2 class="cartItem__title">Quantity</h2></li>
            <template
              x-for="(item, index) in products"
              :key="item.id">
              <li class="cartItem cartItem__quantity">
                <p>
                  <input
                  type="number"
                  min="1"
                  max="10"
                  value="item.quantity"
                  x-model.number="item.quantity"/>
                </p>
              </li>
            </template>
          </ul>
          <!--price-->
          <ul class="cartItems__list cartItems__prices">
            <li class="cartItem cartItem__price"><h2 class="cartItem__title">Price</h2></li>
            <template
            x-for="(item, index) in products"
            :key="item.id">
              <li class="cartItem cartItem__price">
                <p x-text="(item.price * item.quantity).toFixed(2) + '€'"></p>
              </li>
            </template>
          </ul>
          <!--delete-->
          <ul class="cartItems__list cartItems__deletes">
            <li class="cartItem cartItem__delete"><h2 class="cartItem__title" style="opacity: 0;">dd</h2></li>
            <template
            x-for="(item, index) in products"
            :key="item.id">
              <li class="cartItem cartItem__delete">
                <button @click="deleteFromCart(item.id)"></button>
              </li>
            </template>
          </ul>
          

        </div>

        <div class="cart__checkout">
          <p x-text="'Total : ' + totalPrice + '€'"></p>
          <button x-show="products.length" @click="checkout" class="cart__checkout">Checkout</button>
        </div>
        <p x-show="error" style="color: red;" x-text="error"></p>

    </dialog>

  </div>

</div>

{% endblock %}